<div class="modal-overlay">
    <div class="modal-content">
      <h2>Create a Song</h2>
      <form [formGroup]="createSongForm">
        <label for="title">Title</label>
        <input id="title" formControlName="title" type="text" />

        <label for="data">Upload File</label>
        <input id="data" type="file" />
        <div class="button-row">
          <button type="button" (click)="onCancel()">Cancel</button>
          <button type="button" (click)="onCreate()">Create</button>
        </div>
      </form>
    </div>
  </div>
  