<button class="create-button" (click)="onCreateSong()">Create</button>
<app-songs-table
  [songs]="songs"
  (update)="onUpdateSong($event)"
  (delete)="onDeleteSong($event)"
  (navigate)="onNavigateSong($event)"
/>
<app-create-song-modal
  *ngIf="showCreationModal"
  (close)="onCloseCreationModal()"
  (create)="onCreate($event)"
/>
<app-update-song-modal
  *ngIf="showUpdateModal"
  [song]="selectedSong"
  (close)="onCloseUpdateModal()"
  (update)="onUpdate($event)"
/>
<app-delete-song-modal
  *ngIf="showDeleteModal"
  [song]="selectedSong"
  (close)="onCloseDeleteModal()"
  (delete)="onDelete()"
/>

