<div class="modal-overlay">
  <div class="modal-content">
    <h2>Update Band</h2>
    <form [formGroup]="updateBandForm">
      <label for="name">Name</label>
      <input id="name" formControlName="name" type="text" />
      <div class="button-row">
        <button type="button" (click)="onCancel()">Cancel</button>
        <button type="button" (click)="onUpdate()">Update</button>
      </div>
      <label for="artist">Select Artist</label>
      <select id="artist" formControlName="artists" multiple>
          <option *ngFor="let artist of artists" [value]="artist.id" [selected]="bandContainsArtist(artist.id)">{{ artist.name }}</option>
      </select>
    </form>
  </div>
</div>
