.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: var(--primary-color);
  padding: 2rem;
  border-radius: 8px;
  width: auto;
  height: auto;
}

label {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

input {
  padding: 8px;
  border-radius: 8px;
  outline: none;
  border-color: var(--accent-color);
  font-size: 1.5rem;
}

.button-row {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.button-row button {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 8px;
}

.button-row button:first-child {
  color: var(--highlight-color);
  border: 2px solid var(--highlight-color);
  background: none;
}

.button-row button:first-child:hover {
  color: var(--secondary-color);
  background-color: var(--highlight-color);
}

.button-row button:last-child {
  color: var(--secondary-color);
  background-color: var(--highlight-color);
}

.button-row button:last-child:hover {
  color: var(--highlight-color);
  background-color: var(--secondary-color);
}

