:root {
  --primary-color: #1F2544;    /* Dark Blue */
  --secondary-color: #474F7A;  /* Slate Blue */
  --accent-color: #81689D;     /* Purple */
  --highlight-color: #FFD0EC;  /* Light Pink */
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  background-color: var(--primary-color);
  color: var(--highlight-color);
}
