<div class="modal-overlay">
    <div class="modal-content">
        <h2>Update a song {{song.title}}</h2>
        <form [formGroup]="updateSongForm">
            <label for="title"> Title</label>
            <input id="title" formControlName="title" type="text"/>
            <div class="button-row">
                <button type="button" (click)="onCancel()">Cancel</button>
                <button type="button" (click)="onUpdate()">Update</button>
            </div>
        </form>
    </div>
</div>
